exclude .gitignore
exclude .coverage
exclude .idea
exclude .travis.yml
exclude .gitchangelog.rc
include README.rst
include CHANGELOG.rst
include setup.cfg
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *